.navbar {
    height: 4rem;
    padding-left: 3rem;
    padding-right: 3rem;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.07);
}

.navbar-brand {
    color: #1875F0 !important;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
}

.searchStyle {
    border: none;
    background-color: transparent;
    color: #979797;
    font-size: 12px;
    font-family: 'Segoe UI';
    padding-left: 4px;
}

.nav-link {
    font-family: 'Segoe UI';
    font-size: 14px;
    color: #647787;
}

.userName {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    line-height: 10px
}

.profilePic {
    border-radius: 50%;
}

.fa-bell {
    font-size: 16px;
}

.navbarSpace {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}